.blog-post {
  &-title {
    margin-top: 10px;
    font: 400 20px/24px Oswald;
    a {
      text-decoration: none;
      color: $dark_gray;
    }
  }
  &-date {
    background-color: #c3c3c3;
    width: 78px;
    padding: 5px;
    h3 {
      border: 1px solid rgba(255, 255, 255, 0.44);
      padding: 5px 0;
    }
    span {
      color: $black;
      font-family: Oswald;
    }
    &-num {
      font-size: 36px;
      font-weight: 700;
    }
    &-month {
      font-size: 14px;
      font-weight: 300;
    }
  }
  &-content {
    color: #a5a4a4;
    font: 400 14px/24px Arial;
    margin: 30px 0 20px;
  }
}

.type-post {
  margin-bottom: 50px;
  padding-bottom: 25px;
  border-bottom: 5px solid  #e7e7e7;
}

.info-blog {
  &-list {
    list-style-type: none;
    li {
      color: $black;
      font: 700 12px/24px Arial;
      margin-right: 8px;
      background-color: #ecebeb;
      position: relative;
      padding: 0 10px 0 30px;
    }
  }
  &-item {
    &-comments {
      &:after {
        content: "\f075";
        font-family: FontAwesome;
        color: #a09e9e;
        position: absolute;
        top: 0;
        left: 10px;
      }
    }
    &-categories {
      ul {
        list-style-type: none;
        padding-left: 0;
        li {
          padding: 0;
        }
        li a {
          text-decoration: none;
          color: $black;
        }
      }
      &:after {
        content: "\f07c";
        font-family: FontAwesome;
        color: #a09e9e;
        position: absolute;
        top: 0;
        left: 10px;
      }
    }
  }
}

.pagination-links {
  .page-numbers {
    font: 400 13px/24px Arial;
    opacity: 0.84;
    padding: 4px 8px;
    text-decoration: none;
    background-color: #e2e2e2;
    color: $dark_gray;
    &:hover {
      background-color: #222222;
      color: $white;
    }
  }
  .current {
    background-color: #222222;
    color: $white;
  }
}

#latest-blog-posts {
  h3 {
    margin-top: 0;
  }
}

#content {
  .blog-title {
    margin-top: 0;
    padding: 16px 0 16px 10px;
  }
}