.btn {
  &-read-more, &-contact-send {
    background-color: $yellow;
    color: #2c2c2b;
    font: 300 14px/14px Oswald;
    border: none;
    padding: 7px 44px 7px 12px;
    @include border-radius(0px);
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      right: 5px;
      top: 7px;
      background-size: 2px 2px;
      background-image: linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .8));
    }
    &:before {
      content: "\f054";
      font-family: FontAwesome;
      position: absolute;
      right: 10px;
      top: 12px;
      z-index: 2;
    }
    &:focus {
      text-decoration: none;
      color: #2c2c2b;
      outline: none;
    }
    &:hover {
      text-decoration: none;
      color: #2c2c2b;
    }
  }
}

.btn-contact-send {
  padding: 11px 55px 11px 12px;
  text-transform: uppercase;
}

.es_button {
  position: relative;
  padding-top: 0;
  input {
    padding: 11px 44px 11px 12px;
  }
  &:before {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    left: 107px;
    top: 9px;
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 100px;
    top: 7px;
    background-size: 2px 2px;
    background-image: linear-gradient(-45deg, transparent 50%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .8));
  }
}